<html>

<head>
    <title>Keeeep Fiiiit</title>

    <meta id="viewport" name="viewport"
        content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body>
    <div class="container">
        <div class='row'>
            <div id="left-panel" class='panel col-lg-4'>Hello Here</div>
            <div id="pixi-content" class='panel col-lg-4'><canvas id="pixi-canvas" /></div>
            <div id="right-panel" class='panel col-lg-4'>Hello Here</div>
        </div>
    </div>

</body>

</html>